{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-ligth">
  <div class="container-fluid justify-content-start">
    <a class="navbar-brand" href="/home/">
      <img src="{% static 'imagens/logo.jpg' %}" alt="" class="small-logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Administrativo
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Relação de Colaboradores</a></li>
            <li><a class="dropdown-item" href="#">Controle de Horas extras</a></li>
            <li><a class="dropdown-item" href="#">Controle de Férias</a></li>
            <li><a class="dropdown-item" href="#">Produtividade Embaladores</a></li>
            <li><a class="dropdown-item" href="#">Produtividade Expedição</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Almoxarifado
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Registrar Almoxarifado</a></li>
            <li><a class="dropdown-item" href="#">Inventariar Almoxarifado</a></li>
            <li><a class="dropdown-item" href="#">Analítico Almoxarifado</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Devoluções
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Controle de Recebimentos</a></li>
            <li><a class="dropdown-item" href="#">Controle devoluções de vendas</a></li>
            <li><a class="dropdown-item" href="#">Analítico devoluções</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Estoque Produtos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/cadastro-produtos/">Cadastro Produtos</a></li>
            <li><a class="dropdown-item" href="/enderecar/">Endereçar Produtos</a></li>
            <li><a class="dropdown-item" href="/analitico-produtos/">Analítico Produtos</a></li>
            <li><a class="dropdown-item" href="#">Reajustes</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Expedição
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Registrar pedidos</a></li>
            <li><a class="dropdown-item" href="#">Listar Plps</a></li>
            <li><a class="dropdown-item" href="#">Monitoramento Transportadoras</a></li>
            <li><a class="dropdown-item" href="#">Envios manuais</a></li>
            <li><a class="dropdown-item" href="#">Reenvios/Bloqueios</a></li>
            <li><a class="dropdown-item" href="#">Monitoramento de Bloqueios</a></li>
            <li><a class="dropdown-item" href="#">Pedidos sem envios</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Separação
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Pedidos em atraso</a></li>
            <li><a class="dropdown-item" href="#">Controle de cancelamento</a></li>
            <li><a class="dropdown-item" href="#">Solicitações loja</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <img src="{% static 'imagens/icon.ico' %}" alt="" class="user-icon">
            {{ request.user.get_full_name }}o
          </a>
          <ul class="dropdown-menu" aria-labelledby="userDropdown">
            <li><a class="dropdown-item" href="#">Perfil</a></li>
            <li><a class="dropdown-item" href="#">Configurações</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>