/* Defina a cor do texto dentro do navbar */
.navbar{
    background-color: #003DA8;
}
/* Defina o tamanho da imagem*/
.small-logo {
    width: 150px;
    height: auto;
}
.navbar .nav-link.dropdown-toggle {
    color: #fff; /* Branco */
}
.navbar .nav-link.dropdown-toggle:hover {
    color: #fff; /* Branco */
}

/* Defina a cor de fundo do dropdown do navbar */
.navbar .dropdown-menu {
    background-color: #003DA8;
}

/* Defina a cor do texto dentro do dropdown do navbar */
.navbar .dropdown-menu a.dropdown-item {
    color: #fff; /* branco */
}

/* Defina a cor do texto do item do dropdown do navbar quando estiver hover */
.navbar .dropdown-menu a.dropdown-item:hover {
    background-color: #EC691F; /* laranja */
    color: #fff; /* branco */
}

/* Estilizando o botão */
.btn-outline-primary {
    color: #ffffff; /* Define a cor do texto como branco */
    background-color: #003DA8; /* Define a cor de fundo como #003DA8 */
    border-color: #003DA8; /* Define a cor da borda como #003DA8 */
}

/* Estilizando o botão quando o mouse estiver em cima */
.btn-outline-primary:hover,
.btn-outline-primary:focus {
    color: #ffffff; /* Define a cor do texto como branco */
    background-color: #EC691F; /* Define a cor de fundo como #EC691F */
    border-color: #EC691F; /* Define a cor da borda como #EC691F */
}
/* Estilizando o botão */
.btn-primary {
    color: #ffffff; /* Define a cor do texto como branco */
    background-color: #003DA8; /* Define a cor de fundo como #003DA8 */
    border-color: #003DA8; /* Define a cor da borda como #003DA8 */
}

/* Estilizando o botão quando o mouse estiver em cima */
.btn-primary:hover,
.btn-primary:focus {
    color: #ffffff; /* Define a cor do texto como branco */
    background-color: #EC691F; /* Define a cor de fundo como #EC691F */
    border-color: #EC691F; /* Define a cor da borda como #EC691F */
}
/* Estilo para as linhas da tabela */
.table {
    border-collapse: separate;
    border-spacing: 0 10px; /* Espaçamento vertical entre as linhas */
  }
  
  /* Estilo para as linhas ímpares da tabela */
  .table tbody tr:nth-child(odd) {
    background-color: #f0f0f0; /* Cor de fundo para as linhas ímpares */
  }
  
  /* Estilo para as linhas pares da tabela */
  .table tbody tr:nth-child(even) {
    background-color: #ffffff; /* Cor de fundo para as linhas pares */
  }
  
  /* Estilo para as células da tabela */
  .table td, .table th {
    border: 1px solid #dddddd; /* Borda das células */
    padding: 8px; /* Espaçamento interno das células */
    text-align: left; /* Alinhamento do texto */
  }
  

